@import url("../../src/App.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    background-color: #e0e3e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
.close {
    background-image: url(./assets/close.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
