html {
    scroll-behavior: smooth;
}
body {
    @apply bg-slate-50;
}
@font-face {
    font-family: "GT-bold";
    src: url("./assets/fonts/gt-bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "GT-light";
    src: url("./assets/fonts/gt-light.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "GT-medium";
    src: url("./assets/fonts/gt-medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "InterTight-bold";
    src: url("./assets/fonts/InterTight-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "InterTight-regular";
    src: url("./assets/fonts/InterTight-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "InterTight-medium";
    src: url("./assets/fonts/InterTight-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "InterTight-semibold";
    src: url("./assets/fonts/InterTight-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "InterTight-extrabold";
    src: url("./assets/fonts/InterTight-ExtraBold.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "InterTight-black";
    src: url("./assets/fonts/InterTight-Black.ttf") format("truetype"); /* Safari, Android, iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.desc-heading {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}
.desc-paragraph {
    margin-top: 0.5rem;
}
.background-blur {
    /* Ensure the background is semi-transparent */
    background-color: rgba(255, 255, 255, 0.7); /* White with 50% opacity */

    /* Apply a blur effect to the background */
    backdrop-filter: blur(5px);
}
.menu-button-hover:hover {
    /* Ensure the background is semi-transparent */
    background-color: #00000020;
}
.menu-button {
    @apply hover:bg-black p-2 hover:bg-opacity-15 w-full text-center rounded-lg;
    transition: all 150ms ease-in-out;
}
.project-slide {
    background: url(./assets/project-1.png) center/cover no-repeat;
}
.project-slide-container {
    transition-behavior: smooth;
    transition-property: opacity, transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.project-slide-shadow {
    position: absolute;
    @apply rounded-2xl;
    bottom: 0px;
    z-index: -100;
}
.project-slide-shadow.third {
    @apply bg-slate-50;
    width: 80%;
    height: 80%;
    bottom: 40px;
}
.project-slide-shadow.second {
    @apply bg-sky-500;
    bottom: 20px;
    width: 90%;
    height: 90%;
}
.project-slide-shadow.first {
    width: 100%;
    height: 100%;
    @apply bg-sky-500;
    bottom: 0px;
}
.graphic-grid {
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);
    @apply bg-sky-200;
    opacity: 0.3;
}
.skills-blur {
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    -o-filter: blur(150px);
    -ms-filter: blur(150px);
    filter: blur(150px);
    @apply bg-orange-200;
    opacity: 0.3;
}
.footer-blur-1 {
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    -o-filter: blur(150px);
    -ms-filter: blur(150px);
    filter: blur(150px);
    @apply bg-sky-200;
    opacity: 0.6;
    left: 0;
}
.footer-blur-2 {
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    -o-filter: blur(150px);
    -ms-filter: blur(150px);
    filter: blur(150px);
    @apply bg-emerald-200;
    opacity: 0.6;
    right: 0;
}
.grid-image {
    background: url(./assets/Grid.svg) center/contain no-repeat;
}
.profile-pic {
    background: url(./assets/profile-pic.jpg) top center/cover no-repeat;
}
.feature-box {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.78);
}
.footer-bg {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.78);
}

.section-seperator {
    @apply mt-28 md:mt-32;
}
.featured_projects {
    background: #000;
}
.featured-blur-1 {
    @apply absolute -z-20 top-0 left-0 w-[50rem] h-[50rem] bg-sky-500;
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    -o-filter: blur(150px);
    -ms-filter: blur(150px);
    filter: blur(150px);
    opacity: 0.3;
}
.featured-blur-2 {
    @apply absolute -z-20 top-0 right-0 w-[50rem] h-[50rem] bg-emerald-500;
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    -o-filter: blur(150px);
    -ms-filter: blur(150px);
    filter: blur(150px);
    opacity: 0.3;
}
.featured-blur-3 {
    @apply absolute -z-20 bottom-0 left-0 w-[50rem] h-[50rem] bg-pink-500;
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    -o-filter: blur(150px);
    -ms-filter: blur(150px);
    filter: blur(150px);
    opacity: 0.3;
}
.featured-blur-4 {
    @apply absolute -z-20 bottom-0 right-0 w-[50rem] h-[50rem] bg-purple-500;
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    -o-filter: blur(150px);
    -ms-filter: blur(150px);
    filter: blur(150px);
    opacity: 0.3;
}
